.num-container {
  /* background: linear-gradient(rgb(133, 133, 133), rgb(46, 46, 46)); */
  background: rgba(255, 255, 255, 0.27);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 50px;
  border-radius: 16px;
  display: flex;
  justify-content: space-evenly;
}

.triplet-wrapper {
  flex-wrap: wrap;
  padding: 20px;
  row-gap: 20px;
}

.combo-container {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  column-gap: 5px;
  border-radius: 5px;
}

.combo-container > .ball {
  height: 3rem;
  width: 3rem;
}

.ball {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  margin: 10px;
  background: radial-gradient(circle at 30% 30%, #f0f0f0, #636363);
  font-weight: bold;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 1px 1px 1px 1px #00000077;
  animation: bounce 3s ease-in-out infinite;
}

@keyframes bounce {
  0% {
    background: radial-gradient(circle at 30% 30%, #ffffff, #a1a1a1);
  }
  25% {
    background: radial-gradient(circle at 29% 29%, #ffffff, #a1a1a1);
  }
  50% {
    transform: scale(1.05) translateX(-2px) translateY(-10px);
    box-shadow: 2px 10px 30px 1px #0000002a;
    background: radial-gradient(circle at 28% 28%, #ffffff, #a1a1a1);
  }
  75% {
    background: radial-gradient(circle at 29% 29%, #ffffff, #a1a1a1);
  }
  100% {
    background: radial-gradient(circle at 30% 30%, #ffffff, #a1a1a1);
  }
}

.num-container > .ball:last-of-type {
  background: radial-gradient(
    circle at 30% 30%,
    rgb(255, 255, 255),
    rgb(255, 1, 1)
  );
  animation: bounce2 3s ease-in-out infinite;
}

@keyframes bounce2 {
  0% {
    background: radial-gradient(
      circle at 30% 30%,
      rgb(255, 255, 255),
      rgb(255, 1, 1)
    );
  }
  25% {
    background: radial-gradient(
      circle at 29% 29%,
      rgb(255, 255, 255),
      rgb(255, 1, 1)
    );
  }
  50% {
    transform: scale(1.05) translateX(-2px) translateY(-10px);
    box-shadow: 2px 10px 30px 1px #0000002a;
    background: radial-gradient(
      circle at 28% 28%,
      rgb(255, 255, 255),
      rgba(255, 1, 1, 0.925)
    );
  }
  75% {
    background: radial-gradient(
      circle at 29% 29%,
      rgb(255, 255, 255),
      rgb(255, 1, 1)
    );
  }
  100% {
    background: radial-gradient(
      circle at 30% 30%,
      rgb(255, 255, 255),
      rgb(255, 1, 1)
    );
  }
}

.num-wrapper {
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 20px;
}

.ball-container {
  /* background-color: rgb(255, 255, 255); */
  border-radius: 5px;
  color: black;
  padding: 10px;
  overflow: hidden;
}

.ball-container > .ball {
  color: black;
  text-align: center;
}
